<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Eyesfit</string>
	<key>CFBundleVersion</key>
	<string>1.1.12</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The app needs access to Location to use bluetooth.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app needs access to Location to use bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Pelvic Health would like to access your calender</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The app needs access to Bluetooth to communicate with the Pelvic Health device.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The app needs access to Bluetooth to communicate with the Pelvic Health device.</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>CFBundleName</key>
	<string>Eyefit</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleIdentifier</key>
	<string>com.CleverPro.Eyesfit</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.12</string>
</dict>
</plist>
